In [49]:
#Basic Packages
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date 
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.metrics import confusion_matrix
import squarify

#To find addresses
import reverse_geocoder as rg
from geopy.geocoders import Nominatim

#Plot Maps
import folium
from folium.plugins import HeatMap, MarkerCluster 

#Functions
import Functions

%load_ext autoreload
%autoreload 2

#Ignore warnings
import warnings
warnings.filterwarnings("ignore")


#Para fazer as regras de associação

import mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [50]:
individuals = pd.read_csv('customers_clustered.csv')
basket = pd.read_csv('Customer Basket Dataset.csv')

In [51]:
individuals.set_index('customer_id', inplace=True)

In [52]:
basket['invoice_id'].nunique()

79749

In [53]:
basket.drop_duplicates(subset='invoice_id', inplace=True)

In [22]:
basket

,customer_id,invoice_id,list_of_goods
0,7980,6494405,"['fresh bread', 'cake', 'grated cheese', 'fren..."
1,9995,6855482,"['bramble', 'beer', 'white wine', 'almonds', '..."
2,10060,3614116,"['fromage blanc', 'olive oil', 'tomato sauce',..."
3,1461,6464656,"['pokemon shield', 'white wine', 'google table..."
4,7830,10330249,"['olive oil', 'deodorant', 'whole weat flour',..."
...,...,...,...
79995,360,11470275,"['tomatoes', 'ham', 'zucchini', 'frozen vegeta..."
79996,3116,7483644,"['pet food', 'soup', 'beer', 'fromage blanc', ..."
79997,1546,9168204,"['cake', 'french fries', 'cooking oil', 'muffi..."
79998,7242,5054623,"['fromage blanc', 'napkins', 'sandwich', 'hone..."
79999,625,6949651,"['pokemon shield', 'toilet paper', 'google tab..."

In [29]:
individuals

,customer_name,customer_gender,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,typical_hour,lifetime_spend_vegetables,...,minors_in_household,birthday,birthmonth,age,education,lifetime_spend_animal_protein,lifetime_spend_technology,cluster_kmeans3,cluster_kmeans9,cluster_kmeansZ
customer_id,,,,,,,,,,,,,,,,,,,,,
4239,Sara Moscowitz,1.0,0.0,0.0,0.0,2.0,91.0,20.0,22.0,22.0,...,0.0,10.0,9.0,24.0,0.0,101.0,125.0,4.0,1,1
19330,Donald Robertson,0.0,1.0,0.0,0.0,2.0,197.0,5958.0,21.0,20.0,...,1.0,26.0,6.0,42.0,0.0,166.0,7922.0,2.0,2,2
2272,Felicia Bradshaw,1.0,1.0,1.0,0.0,20.0,397.0,20.0,9.0,310.0,...,2.0,31.0,1.0,36.0,3.0,374.0,25.0,5.0,4,4
25288,Emma Williams,1.0,3.0,4.0,1.0,2.0,5282.0,237.0,12.0,499.0,...,7.0,17.0,6.0,81.0,0.0,2149.0,1315.0,0.0,5,5
12829,Hilda Huerta,1.0,0.0,0.0,0.0,2.0,82.0,22.0,21.0,9.0,...,0.0,31.0,1.0,23.0,0.0,78.0,125.0,4.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4689,Justin`s Supermarket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
16270,Melissa`s Supermarket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
10262,Francis`s Supermarket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
25570,Tracy`s Supermarket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6
25779,Robert`s Supermarket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,6

In [54]:
basket = basket.merge(individuals[['cluster_kmeans3', 'cluster_kmeans9', 'cluster_kmeansZ']], on='customer_id' )

In [55]:
basket.set_index('invoice_id', inplace=True)

In [68]:
basket_clusterZ0 = basket[basket['cluster_kmeansZ'] == 0]
basket_clusterZ0.drop(['customer_id', 'cluster_kmeans3',	'cluster_kmeans9', 	'cluster_kmeansZ'], inplace=True, axis=1)
te_fit = te.fit(basket_clusterZ0).transform(basket_clusterZ0)
transactions_itemsZ0 = pd.DataFrame(te_fit, columns=te.columns_)

In [67]:
basket_clusterZ1 = basket[basket['cluster_kmeansZ'] == 1]
basket_clusterZ1.drop(['customer_id', 'cluster_kmeans3',	'cluster_kmeans9', 	'cluster_kmeansZ'], inplace=True, axis=1)
te = TransactionEncoder()
te_fit = te.fit(basket_clusterZ1).transform(basket_clusterZ1)
transactions_itemsZ1 = pd.DataFrame(te_fit, columns=te.columns_)

In [69]:
basket_clusterZ2 = basket[basket['cluster_kmeansZ'] == 2]
basket_clusterZ2.drop(['customer_id', 'cluster_kmeans3',	'cluster_kmeans9', 	'cluster_kmeansZ'], inplace=True, axis=1)
te_fit = te.fit(basket_clusterZ2).transform(basket_clusterZ2)
transactions_itemsZ2 = pd.DataFrame(te_fit, columns=te.columns_)

In [70]:
basket_clusterZ3 = basket[basket['cluster_kmeansZ'] == 3]
basket_clusterZ3.drop(['customer_id', 'cluster_kmeans3',	'cluster_kmeans9', 	'cluster_kmeansZ'], inplace=True, axis=1)
te_fit = te.fit(basket_clusterZ2).transform(basket_clusterZ2)
transactions_itemsZ2 = pd.DataFrame(te_fit, columns=te.columns_)

In [72]:
basket_clusterZ4 = basket[basket['cluster_kmeansZ'] == 4]
basket_clusterZ4.drop(['customer_id', 'cluster_kmeans3',	'cluster_kmeans9', 	'cluster_kmeansZ'], inplace=True, axis=1)
te_fit = te.fit(basket_clusterZ4).transform(basket_clusterZ4)
transactions_itemsZ4 = pd.DataFrame(te_fit, columns=te.columns_)

In [73]:
basket_clusterZ5 = basket[basket['cluster_kmeansZ'] == 5]
basket_clusterZ5.drop(['customer_id', 'cluster_kmeans3',	'cluster_kmeans9', 	'cluster_kmeansZ'], inplace=True, axis=1)
te_fit = te.fit(basket_clusterZ5).transform(basket_clusterZ5)
transactions_itemsZ5 = pd.DataFrame(te_fit, columns=te.columns_)

In [74]:
basket_clusterZ6 = basket[basket['cluster_kmeansZ'] == 6]
basket_clusterZ6.drop(['customer_id', 'cluster_kmeans3',	'cluster_kmeans9', 	'cluster_kmeansZ'], inplace=True, axis=1)
te_fit = te.fit(basket_clusterZ6).transform(basket_clusterZ6)
transactions_itemsZ6 = pd.DataFrame(te_fit, columns=te.columns_)